<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--

 plist compiled by Blipp Basic Compiler 1.62.10

-->
<plist version="1.0">
<dict>
   <key>Randomizer</key>
   <dict>
      <key>compilerRevision</key>
      <string>BBP:1.62.10</string>
      <key>minimumVersion</key>
      <string>11</string>
      <key>name</key>
      <string>Randomizer</string>
      <key>peel</key>
      <string>yes</string>
      <key>peelParams</key>
      <string>orient=portrait,scale=100,type=fit,dy=0,dx=0</string>
      <key>revision</key>
      <string>08-05-2015 06:55:33</string>
      <key>scenes</key>
      <array>
         <dict>
            <key>classes</key>
            <array>
               <dict>
                  <key>alpha</key>
                  <string>0</string>
                  <key>clickable</key>
                  <string>no</string>
                  <key>location</key>
                  <string>0,0,0</string>
                  <key>name</key>
                  <string>BaseClass</string>
                  <key>orientation</key>
                  <string>0,0,1,0</string>
                  <key>scale</key>
                  <string>1</string>
                  <key>scaleFactor</key>
                  <string>1,1,1</string>
                  <key>transformMode</key>
                  <string>enhanced</string>
                  <key>type</key>
                  <string>phantom</string>
               </dict>
               <dict>
                  <key>base</key>
                  <string>BaseClass</string>
                  <key>name</key>
                  <string>Model_3D</string>
                  <key>type</key>
                  <string>hider</string>
               </dict>
               <dict>
                  <key>base</key>
                  <string>BaseClass</string>
                  <key>clickable</key>
                  <string>yes</string>
                  <key>name</key>
                  <string>Sensor</string>
               </dict>
               <dict>
                  <key>base</key>
                  <string>BaseClass</string>
                  <key>model</key>
                  <string>system.plane</string>
                  <key>name</key>
                  <string>System_Plane</string>
               </dict>
               <dict>
                  <key>base</key>
                  <string>Model_3D</string>
                  <key>clickable</key>
                  <string>yes</string>
                  <key>name</key>
                  <string>Sensor_3D</string>
               </dict>
               <dict>
                  <key>base</key>
                  <string>System_Plane</string>
                  <key>clickable</key>
                  <string>yes</string>
                  <key>name</key>
                  <string>Sensor_2D</string>
               </dict>
               <dict>
                  <key>attachment</key>
                  <string>screen</string>
                  <key>base</key>
                  <string>System_Plane</string>
                  <key>name</key>
                  <string>SS</string>
               </dict>
               <dict>
                  <key>base</key>
                  <string>SS</string>
                  <key>clickable</key>
                  <string>yes</string>
                  <key>name</key>
                  <string>SS_Sensor</string>
               </dict>
               <dict>
                  <key>base</key>
                  <string>SS</string>
                  <key>hidden</key>
                  <string>yes</string>
                  <key>name</key>
                  <string>SS_Hide</string>
               </dict>
               <dict>
                  <key>base</key>
                  <string>SS_Hide</string>
                  <key>clickable</key>
                  <string>yes</string>
                  <key>name</key>
                  <string>SS_HS</string>
               </dict>
            </array>
            <key>functions</key>
            <array>
               <dict>
                  <key>commands</key>
                  <array>
                     <dict>
                        <key>arg1</key>
                        <string>"95a82d60cd"</string>
                        <key>function</key>
                        <string>goToBlipp</string>
                     </dict>
                  </array>
                  <key>name</key>
                  <string>onShow</string>
               </dict>
            </array>
            <key>name</key>
            <string>default</string>
            <key>variables</key>
            <array>
               <string>sW=system.screenWidth</string>
               <string>sH=system.screenHeight</string>
               <string>mW=marker.width</string>
               <string>mH=marker.height</string>
            </array>
         </dict>
      </array>
   </dict>
</dict>
</plist>